/* 
    Created on : 24/10/2018, 12:29:07 PM
    Author     : andrea.ramirez
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
html, body{
    height: 100%;
    margin: 0;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
body .map{
    height: 100%;
    margin: 0;
    background: #B9F291;
}
body .map #map{
    height: 100%;
    width: 100%;
    z-index: 1;
    float: right;
}
.info { 
    padding: 6px 8px; 
    font: 14px/16px 'Montserrat', sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 
.info h4 { 
    margin: 0 0 5px; 
    color: #777; 
}
.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
} 
.legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
}
.logo{
    width: 250px;
    height: auto;
    margin: 20px auto;
}
.infoLocal{
    margin: 20px;
}
.titulo{
    font-size: 34px;
}
.desc{
    font-size: 15x;
    margin-top: 20px;
    width: 250px;

}
.subtitulo{
    font-size: 20px;
     letter-spacing: 100;
}
.indicadores{
    background: #F2F2F2;
    width: 90%;
    height: 80px;
    margin: 20px auto;
    box-shadow: 5px 5px 3px -5px rgba(214,214,214,1);
    padding: 0px 10px;
}

.container{
     display: flex;
     width: 1300px;
     
     margin: 0px auto;
}
.container div img{
    width: 250px;
}
.container div img:hover{
    cursor:pointer; cursor: hand;	
}
.informacion{
    width: 1300px;
    margin: 0px auto 20px auto;
}

.data{
        width: 600px;
        padding: 20px;
        margin: 0;
        box-shadow: 5px 5px 3px -5px rgba(214,214,214,1);
}
.FoundData, .Irregular{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    float:next;    
    width: 1200px !important;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}
table .tableRecords, table .tableRecords1{
    border-collapse: collapse !important;
}
table .tableRecords td, table .tableRecords th, table .tableRecords1 td, table .tableRecords1 th{
    border: black 2px solid;
    padding: 0px 2px;
    min-width: 100px;
}
table .tableRecords th, table .tableRecords1 th{
    padding: 5px 2px;
    font-weight:800;
}
table .tableRecords #fixedRow, table .tableRecords1 #fixedRow{
   position: sticky;
   top: 0;
   border: black 2px solid;   
   font-weight: 700;
   color: #ffffff;
   background-color: #FF7676;
}


